<div class = "row">
  <div class='span5 well'>
  <% @works.each do |work| %>
    <%= render 'work', work: work %>
  <% end %>
  </div>

  <div class='span6 well'>
    <p>
    <div id="map"></div>
    <script type='text/javascript'>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      var map = handler.getMap();
      map.setZoom(5);
      map.setCenter(new google.maps.LatLng(43, 11));
      });
    </script>
    </p>
  </div>
</div>
