<%= render 'shared/content_title', title: 'All Works of Art' %>

  <p>
  <div id="map" style='width: 300px; height: 300px;'></div>

  <script type='text/javascript'>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: { maxZoom: 3 }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
  </script>
</p>

<% @works.each do |work| %>
  <%= render 'work', work: work %>
<% end %>